In [5]:
import pandas as pd
import os

In [6]:
os.getcwd()

'/Users/gauravsmalviya/Documents/GitHub/Bungee-Internship-Test/input/question-1'

In [7]:
df=pd.read_csv("C:/Users/pk30167/Downloads/internship-test2-master/internship-test2-master/input/question-1/main.csv")

In [18]:
df.head(10)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

In [24]:
output=df.groupby((df.Year//10)*10).agg({'Population':'last'
                                ,'Violent':'sum',
                                'Property':'sum'
                                ,'Murder':'sum'
                                ,'Forcible_Rape':'sum'
                                ,'Robbery':'sum'
                                ,'Aggravated_assault':'sum'
                                ,'Burglary':'sum'
                                 ,'Larceny_Theft':'sum'
                                 ,'Vehicle_Theft':'sum'
                                 }
                                )

In [25]:
output.to_csv("main.csv")